* {
    box-sizing: border-box;
    font-family: "Inter";
}

body {
    background-color: #f3f5fc;
}

.main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.first_container {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
}

form {
    width: 100%;
    height: 70vh;
}

.texto {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #f3f5fc;
    color: #0A3871;
    font-size: 2rem;
}

.texto::placeholder {
    color: #0A3871;
}

.texto:focus {
    outline: none;
}

.botones {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.encriptar, 
.desencriptar {
    width: 300px;
    height: 60px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    transition: all .5s;
}

.encriptar {
    background-color: #0A3871;
    color: #ffffff;
}

.desencriptar {
    background-color: #f3f5fc;
    color: #0A3871;
}

.encriptar:hover, 
.desencriptar:hover {
    transform: scale(1.02);
}

.second_container {
    width: 90%;
}

.mensaje {
    width: 100%;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.encriptacion {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    border: none;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 1.5rem;
}

.encriptacion::placeholder {
    color: #0A3871;
}

.encriptacion:focus {
    outline: none;
}


.copiar {
    width: 100%;
    max-width: 300px;
    height: 60px;
    background-color: #ffffff;
    border: 1px solid #0A3871;
    color: #0A3871;
    border-radius: 24px;
    cursor: pointer;
    transition: all .5s;
}

.copiar:hover {
    transform: scale(1.02);
}

@media screen and (max-width:699px) {
    .muñeco {
        visibility: hidden;
        position: absolute;
    }
}


@media screen and (min-width:700px) and (max-width:900px) {
    .botones {
        flex-direction: row;
    }

    .muñeco {
        visibility: hidden;
        position: absolute;
    }
}

@media screen and (min-width:900px) {
    .main_container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .first_container {
        width: 75%;
    }

    form {
        width: 80%;
        align-self: center;
    }

    .text {
        width: 90%;
    }

    .second_container {
        width: 25%;
        height: 90vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 1rem;
    }

    .mensaje {
        max-width: 350px;
        height: 600px;
    }

    .botones {
        flex-direction: row;
    }

    .muñeco {
        width: 80%;
    }

    .muñeco img {
        width: 100%;
    }

}